{% extends 'home/index.html.twig' %}
{% block content %}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>Croppie js</h1>
    <img class="test" src="{{ asset('demo.jpg') }}" />
  </div>
</main>
{% endblock content %}
