{% block content %}
	<main role="main" class="container">
		<div>
			<h1>Croppie js</h1>
		</div>

			<div>
                <h3>Select file</h3>
                <input type="file" id="inputFile" accept="image/png, image/jpeg">
            </div>

            <div id="actions" style="display: none;">
                <button id="cropBtn" type="button">Crop Image</button>
			</div>
            
            <div id="croppieMount" class=""></div>
            <div id="fileInfo"></div>
            <div image-cropped></div>
    </main>
{% endblock content %}
