<main role="main" class="container">
    <div>
        <h1>Croppie js</h1>
    </div>

        <div>
            <input type="file" id="inputFile" accept="image/png, image/jpeg, image/webp">

        </div>

        <div id="actions" style="display: none;">
            <div data-crop-buttons>

                <button class="btn btn-primary"
                    data-crop="small">100x100
                </button>

                <button class="btn btn-primary"
                    data-crop="medium">400x400
                </button>

                <button class="btn btn-primary"
                    data-crop="large">800x800
                </button>

                <button class="btn btn-warning"
                    data-crop="execute">Crop Image
                </button>

            </div>
        </div>
        
        <div id="croppieMount" class=""></div>
        <div id="fileInfo"></div>
        <img image-cropped />
</main>
